.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
    text-align: center;
  }
  .titlesize{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
  }
  